<div ng-if='application'>
  <div class='app__header'>
    <h2 class='app__name'>
      {{application.name | translate}}
    </h2>
    <div class='app__publisher'>
      {{application.vendor}}
    </div>
    <div class='app__short-description'>
      {{application.short_description | translate}}
    </div>
  </div>
  <div class='app__details'>
    <div class='app_details__first'>
      <div class='app__icon'>
        <img ng-src='{{application.image}}'>
      </div>
    </div>
    <div class='app_details__second'>
      <div class='app__rating'>
        Rating:
        <div ng-init='ratingRange = [0.5, 1.5, 2.5, 3.5, 4.5]'><span class='glyphicon glyphicon-star' ng-if='application.rating &gt; val' ng-repeat='val in ratingRange'></span><span class='glyphicon glyphicon-star-empty' ng-if='application.rating &lt; val' ng-repeat='val in ratingRange'></span>
        </div>
      </div>
      <div class='app__languages' ng-if='application.categories.length'>
        Categories
        <ul class='language-list'>
          <li class='language-list__language' ng-repeat='category in application.categories'>
            {{category.name | translate}}
          </li>
        </ul>
      </div>
      <div class='app__languages' ng-if='application.languages.length'>
        Languages
        <ul class='language-list'>
          <li class='language-list__language' ng-repeat='language in application.languages'>
            {{language | langCodeToName}}
          </li>
        </ul>
      </div>
      <div class='app__languages' ng-if='application.accessibilities.length'>
        Accessibility
        <ul class='language-list'>
          <li class='language-list__language' ng-repeat='accessibility in application.accessibilities'>
            {{accessibility.name | translate}}
          </li>
        </ul>
      </div>
      <div class='app__version' ng-if='application.version'>
        Version {{application.version}}
      </div>
      <div class='app__updated'>
        Updated {{application.modified | date:"dd.MM.yyyy"}}
      </div>
    </div>
    <div class='app__platforms'>
      <ul class='platform-list'>
        <li class='platform-list__platform platform-list__platform--{{platform.slug}}' ng-repeat='platform in application.platforms'>
          <a class='platform__download' href='{{platform.store_url}}'>{{platform.name | translate}}</a>
        </li>
      </ul>
      <div class='app__links'>
        <div class='app__link app-link--publisherwebsite'>
          <a href='{{application.publisher_url}}'>Publisher Website &gt;&gt;</a>
        </div>
        <div class='app-link app-link--support'>
          <a href='{{application.support_url}}'>Support Website &gt;&gt;</a>
        </div>
      </div>
    </div>
  </div>
  <div class='app__long-description'>
    {{application.description | translate}}
  </div>
  <div class='app__screenshots'>
    <div class='carousel slide' data-ride='carousel' id='j-screenshots-carousel'>
      <!-- Indicators -->
      <ol class='carousel-indicators'>
        <li data-slide-to='{{$index}}' data-target='#j-screenshots-carousel' ng-class='{active: $index == 0}' ng-repeat='screenshot in application.screenshots'></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class='carousel-inner'>
        <div class='item' ng-class='{active: $index == 0}' ng-repeat='screenshot in application.screenshots'>
          <img alt='Screenshot' ng-src='{{ screenshot.image }}'>
        </div>
      </div>
      <!-- Controls -->
      <a class='left carousel-control' data-slide='prev' data-target='#j-screenshots-carousel'>
        <span class='glyphicon glyphicon-chevron-left'></span>
      </a>
      <a class='right carousel-control' data-slide='next' data-target='#j-screenshots-carousel'>
        <span class='glyphicon glyphicon-chevron-right'></span>
      </a>
    </div>
  </div>
</div>
