<h2 class='app__name'>
  {{application.name.en}}
</h2>
<div class='app__icon'>
  <img ng-src='{{application.image}}'>
</div>
<div class='app__tags'>
  <ul class='taglist'>
    <li class='taglist__tag'>
      Tourism
    </li>
    <li class='taglist__tag'>
      English
    </li>
    <li class='taglist__tag'>
      Restricted mobility
    </li>
  </ul>
</div>
{{application.category}} <!-- TODO -->
<div class='app__short-description'>
  <!-- TODO -->
  {{ application.description.en | truncate:200 }} <!-- TODO -->
</div>
<div class='app__long-description'>
  {{ application.description.en }}
</div>
<div class='app__publisher'>
  {{application.vendor}}
</div>
<div class='app__languages'>
  <ul class='language-list'>
    <li class='language-list__language' ng-repeat="language in application.languages">
      {{language}} <!-- TODO: full name -->
    </li>
  </ul>
</div>
<div class='app__platforms'>
  <ul class='platform-list'>
    <li ng-repeat='platform in application.platforms' ng-class='platform-list__platform platform-list__platform--{{platform.type}}'>
      {{platform.name.en}}
    </li>
  </ul>
</div>
<div class='app__website'>
  Website TODO
</div>
<div class='app__support'>
  Support-website TODO
</div>
<div class='app__rating'>
  Rating: ****** TODO
</div>
<div class='app__screenshots'>
  <ul class='screenshot-list'>
    <li class='screenshot-list__slide'>
      [screenshot image] TODO
    </li>
    <li class='screenshot-list__slide'>
      [screenshot image] TODO
    </li>
    <li class='screenshot-list__slide'>
      [screenshot image] TODO
    </li>
  </ul>
</div>
<div class='app__version'>
  2.2.2.0 TODO
</div>
<div class='updated'>
  TODO
</div>
(reviews)
(filesize)
(downloads)
** related **
** share **
