<h1>Apps List</h1>
<div class='apps-list'>
  <div class='g-apps-list'>
    <div class='g-app-listing' ng-repeat="application in applications">
      <div class='app-listing'>
        <div class='g-app-listing__content'>
          <div class='g-app-listing__maininfo'>
            <h3 class='app-listing__name'>
              <!-- TODO: i18n -->
              <a class='app-link' href='#/application/1'>{{application.name.en}}</a>
            </h3>
            <div class='app-listing__description'>
              {{application.description.en | truncate:200 }}
            </div>
          </div>
          <div class='g-app-listing__moreinfo'>
            <div class='app-listing__icon'>
              <img ng-src='{{application.image}}'>
            </div>
            <div class='app-listing__rating' ng-init="ratingRange = [1.0, 2.0, 3.0, 4.0, 5.0]">
              <span ng-repeat="val in ratingRange" ng-if="application.rating > val" class="glyphicon glyphicon-star"></span>
              <span ng-repeat="val in ratingRange" ng-if="application.rating < val" class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class='app-listing__tags'>
              Category:
              <ul class='taglist'>
                <!-- TODO: repeat, show category name -->
                <li class='taglist__tag'>
                  {{application.category}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='apps-filter' >
  <form class='filtering-form' role='form'>
    <h3>Filter</h3>
    <div class='filter-text form-group'>
      <label for='searchfield'>
        Search
      </label>
      <input class='form-control' id='searchfield' placeholder='search' type='text'>
    </div>
    <div class='filter-category form-group'>
      <label for='category'>
        Category
      </label>
      <select class='form-control' id='category' multiple>
        <option>
          Travel
        </option>
        <option>
          Food & drink
        </option>
        <option>
          Transport
        </option>
        <option>
          Culture
        </option>
      </select>
    </div>
    <div class='filter-accessibility form-group'>
      <label for='accessibility'>
        Accessibility
      </label>
      <select class='form-control' id='accessibility' multiple>
        <option>
          Visually impaired
        </option>
        <option>
          Limited mobility
        </option>
        <option>
          Hearing problems
        </option>
        <option>
          Simplified
        </option>
      </select>
    </div>
    <div class='filter-platform form-group'>
      <label for='platform'>
        Platform
      </label>
      <select class='form-control' id='platform' multiple>
        <option>
          iOS
        </option>
        <option>
          Android
        </option>
        <option>
          Windows
        </option>
        <option>
          Google
        </option>
      </select>
    </div>
    <div class='filter-language form-group'>
      <label for='language'>
        Language
      </label>
      <select class='form-control' id='language' multiple>
        <option>
          English
        </option>
        <option>
          Finnish
        </option>
        <option>
          Japanese
        </option>
        <option>
          Russian
        </option>
      </select>
    </div>
    <div class='filter-rating form-group'></div>
  </form>
</div>
