{% extends "proto_ui/base.html" %}
{% load i18n %}

{% block content %}
<h2>{{ application.name }}</h2>
<ul>
    {% for platform_support in application.applicationplatformsupport_set.all %}
        <li>
            <a href="{{ platform_support.platform_link }}">Available for {{ platform_support.platform }}</a>
        </li>
    {% endfor %}
</ul>
<p>{{ application.description }}</p>

<dl>
    <dt>{% trans "Publisher "%}</dt>
    <dd>{{ application.vendor }}</dt>
    <dt>{% trans "Publish date "%}</dt>
    <dd>[ TODO ]</dt>
</dl>

<ul>
    {% for screenshot in application.applicationscreenshot_set.all %}
        <li>
            <img src="{{ screenshot.image.url }}" />
        </li>
    {% endfor %}
</ul>
{% endblock %}

