{% extends "proto_ui/base.html" %}
{% load i18n %}

{% block content %}
<h2>{{ application.name }} <small>{{ application.category.name }}</small></h2>
<ul>
    {% for platform_support in application.applicationplatformsupport_set.all %}
        <li>
            <a href="{{ platform_support.platform_link }}">
                {% blocktrans with platform_name=platform_support.platform.name %}
                Available for {{ platform_name }}
                {% endblocktrans %}
            </a>
        </li>
    {% endfor %}
</ul>
<p>{{ application.description }}</p>

<dl>
    <dt>{% trans "Publisher "%}</dt>
    <dd>{{ application.vendor }}</dt>
    <dt>{% trans "Publish date "%}</dt>
    <dd>{{ application.publish_date|date:"d.m.Y H:i" }}</dt>

    {% if application.contact_email %}
        <dt>{% trans "Contact"%}</dt>
        <dd><a href="mailto:{{ application.contact_email }}">{{ application.contact_email }}</a></dt>
    {% endif %}
    {% if application.support_link %}
        <dt>{% trans "Support"%}</dt>
        <dd><a href="{{ application.support_link }}">{{ application.support_link }}</a></dt>
    {% endif %}
</dl>

<ul>
    {% for screenshot in application.applicationscreenshot_set.all %}
        <li>
            <img src="{{ screenshot.image.url }}" />
        </li>
    {% endfor %}
</ul>
{% endblock %}

