.app-listing
  .g-app-listing__content
    .g-app-listing__maininfo
      %h3.app-listing__name
        %a.app-link(href="/application/{{application.id}}") {{application.name | translate}}
      .app-listing__description
        -# TODO: actual short description
        {{application.description | translate | truncate:200}}
    .g-app-listing__moreinfo
      .app-listing__icon
        %img(ng-src="{{application.image}}")
      .app-listing__rating=render "rating"
      .app-listing__tags
        Category:
        %ul.taglist
          -# TODO: implement m2m categories
          %li.taglist__tag {{application.category.name | translate}}
