%div(ng-if="application")
  .app__header
    %h2.app__name
      {{application.name | translate}}
    .app__publisher
      {{application.vendor}}
    .app__short-description
      {{application.short_description | translate}}

  .app__details
    .app_details__first
      .app__icon
        %img(ng-src="{{application.image}}")
    .app_details__second
      .app__rating
        Rating:
        =render "rating"
      -# Why do .app__languages and .language-list__language repeat?
      .app__languages(ng-if="application.categories.length")
        Categories
        %ul.language-list
          %li.language-list__language(ng-repeat="category in application.categories")
            {{category.name | translate}}
      .app__languages(ng-if="application.languages.length")
        Languages
        %ul.language-list
          %li.language-list__language(ng-repeat="language in application.languages")
            {{language | langCodeToName}}
      .app__languages(ng-if="application.accessibilities.length")
        Accessibility
        %ul.language-list
          %li.language-list__language(ng-repeat="accessibility in application.accessibilities")
            {{accessibility.name | translate}}
      .app__version(ng-if="application.version")
        Version {{application.version}}
      .app__updated
        Updated {{application.modified | date:"dd.MM.yyyy"}}
    .app__platforms
      %ul.platform-list
        %li.platform-list__platform(ng-repeat="platform in application.platforms" class="platform-list__platform--{{platform.slug}}")
          %a.platform__download(href="{{platform.store_url}}") {{platform.name | translate}}
      .app__links
        .app__link.app-link--publisherwebsite
          %a(href="{{application.publisher_url}}") Publisher Website &gt;&gt;
        .app-link.app-link--support
          %a(href="{{application.support_url}}") Support Website &gt;&gt;

  .app__long-description
    {{application.description | translate}}

  .app__screenshots
    #j-screenshots-carousel.carousel.slide(data-ride="carousel")
      <!-- Indicators -->
      %ol.carousel-indicators
        %li(data-target="#j-screenshots-carousel" data-slide-to="{{$index}}" ng-repeat="screenshot in application.screenshots" ng-class="{active: $index == 0}")

      <!-- Wrapper for slides -->
      .carousel-inner
        .item(ng-repeat="screenshot in application.screenshots" ng-class="{active: $index == 0}")
          %img(ng-src="{{ screenshot.image }}" alt="Screenshot")

      <!-- Controls -->
      %a.left.carousel-control(data-target="#j-screenshots-carousel" data-slide="prev")
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control(data-target="#j-screenshots-carousel" data-slide="next")
        %span.glyphicon.glyphicon-chevron-right

  -# TODO
    .related-apps
      %h3 Similar Applications
      %ul.similar-apps-list
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
