%h1 Categories
.categories
  .category
    %a(href="/list")
      .category-content
        .category--icon
          %span.glyphicon.glyphicon-camera
        .category--name
          Tourism
        .category--count
          20
  .category
    %a(href="/list")
      .category-content
        .category--icon
          %span.glyphicon.glyphicon-glass
        .category--name
          Food & Drink
        .category--count
          20
  .category
    %a(href="/list")
      .category-content
        .category--icon
          %span.glyphicon.glyphicon-picture
        .category--name
          Culture
        .category--count
          20
  .category
    %a(href="/list")
      .category-content
        .category--icon
          %span.glyphicon.glyphicon-plane
        .category--name
          Transportation
        .category--count
          20
  .category
    %a(href="/list")
      .category-content
        .category--icon
          %span.glyphicon.glyphicon-tree-conifer
        .category--name
          Nature
        .category--count
          20
      
      
      
      
      
      
      
      
      
      
      