%h1 Categories
.categories
  .category(ng-repeat="category in categories")
    %a(ng-href="/list/?category={{category.slug}}")
      .category-content
        .category--icon
          %span(class="glyphicon {{category.getGlyphiconClass()}}")
        .category--name
          {{category.name | translate}}
        .category--count
          {{category.applications.length}}
