-# Note: This is Django template and gets copied to apps_ui/templates/apps_ui/index.html
-# (other templates get compiled to static html and served with other static files)
- title ||= 'apps.hel.fi'
!!! 5
%html#ng-app(ng-app="apps")
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %meta{ :name => "viewport", :content => "initial-scale=1" }/
    %title= title
    %link{ :rel => "shortcut icon", :href => "{{ STATIC_URL }}apps_ui/favicon.ico", :type=> "image/x-icon"}
    %link{ :rel => "icon", :href => "{{ STATIC_URL }}apps_ui/favicon.ico", :type => "image/x-icon"}
    %link{ :href => "{{ STATIC_URL }}apps_ui/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    %base{ :href => "{% url 'ui-index' %}" }
  %body{ :lang => 'en' }
    .g-navigation=render "navigation"
    .g-content(ng-view)
    .g-footer=render "footer"
    %script{ :type => "text/javascript", :src=> "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js" }
    %script{ :type => "text/javascript", :src=> "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js" }
    %script{ :type => "text/javascript", :src=> "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js" }
    %script{ :type => "text/javascript", :src=> "{{ STATIC_URL }}apps_ui/javascripts/jquery.min.js" }
    %script{ :type => "text/javascript", :src=> "{{ STATIC_URL }}apps_ui/javascripts/bootstrap.min.js" }
    {% include "apps_ui/_angular_config.html" %}
    %script{ :type => "text/javascript", :src=> "{{ STATIC_URL }}apps_ui/javascripts/helapps.js" }
