.info__illustration.image--responsive
  %img(src="/images/illustration-placer.png")
%h1 
  Info
.info__description
  %p 
    Ipsum aliquip concursionibus in pariatur culpa ipsum do aliqua. Voluptate enim 
    id senserit despicationes non o elit illum ne incurreret, proident nisi 
    senserit, fore nostrud ut aliquip. Laborum eram aliquip offendit. Possumus esse 
    fugiat ita culpa ad ad irure aliquip. Magna te laborum, quibusdam nisi nisi 
    deserunt illum ita quae vidisse relinqueret an iis sunt aute in commodo, iis quo 
    minim eiusmod ab et quis culpa minim nescius, est pariatur eruditionem, non nam 
    tractavissent. Ut fugiat lorem culpa expetendis, sunt litteris non incurreret 
    ubi tamen in si nisi expetendis ex ita ingeniis qui commodo eu o amet tamen si 
    arbitror, legam possumus hic coniunctione, se legam sed fugiat ab o amet quo 
    labore. De illum tempor sed senserit anim sed possumus consectetur ita aute 
    quibusdam ab mentitum an ab lorem quis duis singulis. Sunt ullamco an summis 
    nulla.

.info__terms-condition
  %h2 Terms and Conditions
  %p Aute tempor voluptate si eiusmod arbitrantur te aliquip. Aliqua ea probant in 
  labore, iis illum cillum ex pariatur nam occaecat efflorescere e senserit e 
  possumus se fore laboris, expetendis fore hic tempor instituendarum qui ingeniis 
  do lorem, e fugiat commodo, ita ipsum probant instituendarum. Hic aute proident 
  coniunctione. Do velit quae se arbitror e anim possumus sempiternum. Si nam 
  labore esse multos, admodum ipsum commodo iudicem, summis deserunt o 
  arbitrantur, aute singulis si transferrem. Voluptate praesentibus nam cernantur. 
  Senserit sed quis ab o o fidelissimae se quem cupidatat o tractavissent ad amet 
  te iudicem te varias. O cillum ipsum labore consequat, fugiat ne voluptate, 
  quibusdam nam fore arbitror ne tempor minim summis voluptate multos nam 
  voluptate tamen nisi si anim ubi aut est eram offendit a anim ab deserunt iis 
  senserit legam ne litteris praetermissum.
