%h1 Apps List
.apps-filter=render "filtering"

.apps-list
  .apps-list__sort
    %form.form-horizontal(role="form")
      .form-group
        %label.control-label(for="sort-method") Sort List
        %select.form-control#sort-method
          %option(value="") Date added
          %option(value="") Rating
          %option(value="") Alphabetical
  .g-apps-list
    .g-app-listing(ng-repeat="application in applications")=render "app"
